.feature-title {
  font-size: 1.5em;
}

#header {
  font-size: 30px;
  margin: 20px;
}

#brand-icon {
  margin: 0 10px 0 5vw;
}

#main-div {
  padding: 20px;
  text-align: center;
}

#feature-div {
  padding: 60px 20vw 60px 20vw;
  text-align: left;
}