code {
  color: white;
  display: block;
  padding: 10px;
  background-color: #edede9;
}

#main-div {
  padding: 5vw;
  row-gap: 10;
}

#navbar-brand {
  color: black;
  font-size: 125%;
  text-align: center;
}