#main-container {
  background-color: black;
  color: white;
  padding: 20px;
  width: 350px;
  height: 475px;
  margin-top: 15vh;
  text-align: center;
  font-size: 24px;
}

.button {
  background-color: gray;
  border: 1px solid black;
  padding: 20px;
}
